body {
  background-color: lightslategrey;
  font-family: "Courier New";
}

img {
  border-radius: 50%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.responsive {
  width: auto;
  max-width: 500px;
  height: auto;
}
