body {
	background-color: lightslategrey;
	text-align: center;
}

img {
	border-radius: 50%;
}

.container {
	/*margin: 10vh auto 10vh auto;
	max-width: 100%;
	width: auto; */
	margin: 25vh auto 10vh auto;
	max-width: 100%;
	padding: 0 20px;
	width: 40ch;
}

.responsive {
	width: auto;
	max-width: 300px;
	height: auto;
}

a { 
	color: currentColor; 
}

p {
	font-family: "Courier New";
	font-size: 2rem;
	font-variant-ligatures: common-ligatures;
	width: 70%;
}

.row {
  	display: flex;
	width: 20%;
}

.column {
  	flex: 33.33%;
  	padding: 5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media screen and (max-width: 100px) {
  	.column {
   		width: 100%;
  	}
} 
*/
