body {
	background-color: lightslategrey;
}

img {
	border-radius: 50%;
	margin: 0 auto;
}

.container {
	margin: 10vh auto 10vh auto;
	max-width: 100%;
	width: 80%;
}

.responsive {
	width: auto;
	max-width: 300px;
	height: auto;
}

a { 
	color: currentColor; 
}

p {
	font-family: "Courier New", Courier, monospace;
	font-size: 2rem;
	font-variant-ligatures: common-ligatures;
	width: 70%;
	margin:0 auto;
	text-align: justify;
}

.row {
  	display: flex;
	width: 20%;
	margin:0 auto;
}

.column {
  	flex: 33.33%;
  	padding: 5px;
}


